
<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">



        <title>Athanor</title>
        <link rel="icon" type="image/x-icon" href="/Users/aimery/Desktop/THP/J5/good/assets/img/Iconsmind-Outline-Tree-22.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/application.scss" rel="stylesheet" />


    </head>



    <body id="page-top">



        <!-- Navigation-->
        <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/">À propos</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#projects">Articles</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--PERSONAL SCRIPT JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
        });

        </script>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    

                    <h2 class="text-white-50" style="font-size:40px">Objectif : 1 Milliard</h2>
                </div>
            </div>
        </header>


          <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="brouillard.jpg" alt="" /></div>
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-black-50 mb-0">Lutte contre le CO2 : et soudain, l’espoir … </h4>
                            <hr>
                            <p> Le monde change, le temps s’accélère, l’arbre pousse. La crise écologique est en train de s’imposer mondialement avec, comme principales menaces, la déstabilisation du climat, l’effondrement de la biodiversité, l’érosion des sols, l’épuisement des ressources, la pollution, les toxiques… </p>
            
                            <p> Et pourtant un levier existe, une vieille technologie longtemps reléguée au domaine récréatif : l’arbre. </p>
                            <p>La littérature scientifique est claire : bien employés, les arbres peuvent faire disparaître une part décisive du surplus de CO2 emmagasiné dans l’atmosphère par nos combustibles fossiles. Comme le résume Nathalie de Noblet, l’une des coordinatrices du dernier rapport du GIEC, “La planète entière est en surchauffe, il faut d’urgence la mettre à l'ombre des arbres”. </p>
                            <br/>
                            <center>
                            <img
                                src="../roadtree.jpeg"
                                height="500px"
                                width="670px"
                            />
                            </center>
                            <br/>
                            <br/>

                            <h4 class="text-black-50 mb-0">La photosynthèse : donne moi ton carbon et j’en ferai de l’or.   </h4>
                            <hr>
                            <p>On l’a compris, le meilleur (et le seul) extracteur de carbone opérationnel à notre disposition est l’arbre. Ce dernier extrait du CO2 de l’atmosphère et le transforme en bois lors du fascinant mécanisme de la photosynthèse : avec comme seul apport énergétique la lumière du soleil, la chlorophylle présente dans les feuilles transforme le CO2 en glucides (CH2O) qui fournira à la plante l'énergie dont elle a besoin pour se développer (Figure 1). </p>
                            <p>C’est ainsi qu’un banal arbre de 25 m de hauteur séquestre jusqu’à 6 tonnes de carbone, ce qui est beaucoup quand on sait qu’un Terrien en émet en moyenne 1.3 tonnes par an ! </p>

                            <br/>
                            <center>
                            <img
                                src="../photosynthese.jpg"
                                height="450px"
                                width="350px"
                            />
                            <p><em>Figure 1 : Mécanismes de la photosynthese, source : http://botarela.fr</em></p>
                            </center>
                            <br/>

                            <p>Lorsque les arbres meurent, le dioxyde de carbone emmagasiné est libéré dans l’atmosphère. D’où l’importance d’utiliser massivement les arbres comme bois d'œuvre afin de stocker définitivement le carbone dans des charpentes, des meubles, des infrastructures…  </p>
                            <p>La logique est simple : plantons plus d’arbres, nous aurons moins de CO2. Mais la Terre est limitée, avons-nous l’espace suffisant pour nourrir 8 Milliards d’êtres humains et en même temps planter des arbres ? </p>
                            <br/>

                            <h4 class="text-black-50 mb-0">Où et comment planter ? La science à la rescousse ! </h4>
                            <hr>
                            <p>Une étude publiée dans la prestigieuse revue Science en 2019 a apporté un élément de réponse. Les chercheurs ont calculé que près de 0,9 milliard d'hectares de terres inutilisées dans le monde pourraient être reboisées, ce qui permettrait à terme d’absorber les deux tiers des émissions de carbone d'origine humaine, soit 205 milliards de tonnes. </p>
                            <p> «Dans nos calculs, nous avons exclu les villes ou les zones agricoles du potentiel total de restauration, étant donné que ces zones sont nécessaires au développement humain, explique Jean-François Bastin, auteur principal de l'étude. Ce point était particulièrement important pour nous. ». Ce qui signifie que cette estimation ne prend même pas en compte les arbres que l’on pourrait mettre dans les champs dans une logique d’agroforesterie.  </p>
                            <p>Ce potentiel fait de la reforestation la première arme à notre disposition contre le réchauffement climatique, à nous de la concrétiser. </p>
                            <br/>
                            <center>
                            <img
                                src="../earth.png"
                                height="300px"
                                width="700px"
                            />
                            <p><em>Figure 2 : Répartitions des zones reboisables, à l'exclusion des terres agricoles et urbanisées. </em></p>
                            </center>
                            <br/>
                            
                            <h4 class="text-black-50 mb-0">Conclusion : 1 milliard d'hectares, 8 milliards d'Hommes. </h4>
                            <hr>
                            <p>1 milliard d'hectares représentent à peu près la taille des États-Unis. Cela représente beaucoup d’espace alors que nous sommes de plus en plus nombreux sur cette planète. Alors pourquoi l’utiliser pour planter des arbres ? </p>
                            <p>Parce que planter 1 milliard d'hectares d’arbres c’est enlever les deux tiers du CO2 d’origine humaine de l’atmosphère. </p>
                            <p>Parce que planter 1 milliard d'hectares d’arbres c’est favoriser la biodiversité en offrant un abri aux pollinisateurs, aux insectes et à des millions d’oiseaux. </b>. </p>
                            <p>Parce que planter 1 milliard d'hectares d’arbres c’est améliorer le cycle de l’eau et ralentir l’érosion. </p>
                            <p>Parce que planter 1 milliard d'hectares d’arbres c’est donner à nos enfants une matière première durable, le bois, qui a le potentiel de substituer à des matériaux comme le plastique ou le ciment. </p>
                            
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h5 class="text-black-50 mb-0">Sources :</h5>
                                <ul>
                                    <li>https://science.sciencemag.org/content/365/6448/76
                                    <li>https://www.science-et-vie.com/nature-et-enviro/arbres-ils-peuvent-nous-sauver-51889
                                    <li>https://www.cirad.fr/actualites/toutes-les-actualites/communiques-de-presse/2019/climat-comment-les-arbres-pourraient-sauver-la-planete
                                    <li>https://www.humanite-biodiversite.fr/article/le-rapport-du-giec-d-aout-2019-conclusions-pour-la-foret-et-les-ecosystemes</li>

                
                                </ul>
                        </div>
                    </div>
                </div>