
<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">



        <title>Athanor</title>
        <link rel="icon" type="image/x-icon" href="/Users/aimery/Desktop/THP/J5/good/assets/img/Iconsmind-Outline-Tree-22.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/application.scss" rel="stylesheet" />


    </head>



    <body id="page-top">



        <!-- Navigation-->
        <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/">À propos</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#projects">Articles</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--PERSONAL SCRIPT JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
        });

        </script>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    

                    <h2 class="text-white-50" style="font-size:40px">Pour sauver la planète, coupons des arbres !</h2>
                </div>
            </div>
        </header>


          <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="brouillard.jpg" alt="" /></div>
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-black-50 mb-0">Et vous, comment ca va ?</h4>
                            <hr>
                            <p> On se sent tous un peu écrasés par le bouleversement climatique. D'un côté on a conscience de l'urgence qu'il y a à agir, et de l'autre on se rend bien compte que ce n'est pas seulement en faisant le tri et en achetant des légumes de saison qu'on aura un impact significatif sur l'évolution de la biosphère.</p>
            
                            <p> Que faire alors ?</p>
                           
                            <br/>
                            <center>
                            <img
                                src="../fire.jpg"
                                height="450px"
                                width="550px"
                            />
                            </center>
                            <br/>
                            <br/>

                            <h4 class="text-black-50 mb-0">L'arbre : puit de carbone, puit de chaleur. </h4>
                            <hr>
                            <p>Et bien il existe une technologie extraordinaire, capable de capter le C02 de l'atmosphère et de le stocker durablement dans un matériau 100% durable : l'arbre. Rien qu'en un an, les forêts françaises absorbent 70 millions de tonnes de CO2 à elles-seules ! </p>
                            <p>C'est d'ailleurs une des principales recommandations du GIEC : dans la lutte contre le réchauffement climatique, l'un des leviers d'action les plus puissants à notre disposition est l'exploitation forestière durable. Cette dernière permet aux arbres, une fois récoltés, de continuer leur rôle de "stockage de carbone sur le long terme, pouvant être substitués à des matériaux plus énergivores, et réduisant ainsi les émissions de gaz à effet de serre dans d'autres secteurs".</p>
                            <br/>
                            <center>
                            <img
                                src="../road.jpg"
                                height="350px"
                                width="650px"
                            />
                            </center>
                            <br/>
                            <br/>

                            <h4 class="text-black-50 mb-0">Protéger le climat en coupant des arbres ? Plutôt contre-intuitif...  </h4>
                            <hr>
                            <p>Pas tant que ca :</p>
                            <ul>
                                <li>Quand un arbre meurt, tout le CO2 emmagasiné en lui s'échappe dans l'atmosphère et contribue donc au fameux effet de serre. A contrario le carbone stocké dans les chaises, poutres et autres meubles en bois reste piégé pour une durée indéterminée !</li>
                                <li>A court terme, il est estimé que 30% de la forêt française ne pourrait s’adapter aux bouleversements climatiques. Cela renforce les risques : incendies, prolifération de parasites avec sécheresses, canicules et inondations. La sous-exploitation des forêts est donc problématique car elle empêche le renouvellement et l’adaptation des peuplements.</li>
                            </ul>

                            <br/>
                            <center>
                            <img
                                src="../tas.jpg"
                                height="500px"
                                width="900px"
                            />
                            </center>
                            <br/>
                                                        <p>Il y a donc urgence à mettre en place une mobilisation intelligente et durable de la forêt, 
                            en promouvant le bois comme matériau de substitution à des subtances plus énérgivores comme le ciment, l'acier ou le plastique.</p>
                            <p>Exploiter la forêt française c’est s’assurer de sa pérennité en l’adaptant aux futures variations du climat. Relancer la filière Forêt-Bois, c’est proposer aux consommateurs des biens de consommations durables contenant du CO2 qui est bien mieux dans une belle porte de chêne que dans la stratosphère.</p>
                            <p>Bûcherons, à vos scies !</p>
                            
                        </div>
                    </div>
                </div>