
<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">



        <title>Athanor</title>
        <link rel="icon" type="image/x-icon" href="/Users/aimery/Desktop/THP/J5/good/assets/img/Iconsmind-Outline-Tree-22.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/application.scss" rel="stylesheet" />


    </head>



    <body id="page-top">



        <!-- Navigation-->
        <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/">À propos</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#projects">Articles</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--PERSONAL SCRIPT JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
        });

        </script>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    

                    <h2 class="text-white-50" style="font-size:40px">La deuxième transformation & l'aval de la filière</h2>
                </div>
            </div>
        </header>


          <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="brouillard.jpg" alt="" /></div>
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-black-50 mb-0">Un aval de la filière Forêt-Bois en manque de compétitivité. </h4>
                            <hr>
                            <p>L’industrie de seconde transformation se situe en bout de chaîne de la filière Forêt-Bois française. C’est elle qui transforme la matière bois en produits finaux proposés aux consommateurs et inclut donc la mise en œuvre du bois, la construction, les meubles, le papier et le carton pour un chiffre d'affaire total de 42 milliards d’euros. </p>
                            <br/>
                            <center>
                            <img
                                src="../cercle.png"
                                height="550px"
                                width="550px"
                            />
                            <p><em>Figure 1 : La filière Forêt-Bois, source : https://fbie.org/wp-content/uploads/2014/06/Plaquette_For%c3%aat-Bois-UNE-FILI%c3%88RE-DAVENIR-POUR-LA-FRANCE.pdf</em></p>

                            </center>
                            <br/>
                            <br/>
                            <p>Étant située à l’aval de la filière, au contact même de la demande marchande, elle est donc censée tirer le reste de l’industrie du bois. </p>
                            <p>Avec la quatrième surface forestière d'Europe, on pourrait s'attendre à ce que la France tire son épingle du jeu dans la transformation finale du bois. Or, tel n'est pas le cas. Les comparaisons internationales montrent ainsi que l’existence d’une ressource abondante ne suffit pas au développement d’une filière forêt-bois performante, certains pays (Suisse, Chine) occupant même des positions exportatrices nettes tout en dépendant largement d’importations pour leurs ressources en bois. </p>
                                                        <br/>
                            <center>
                            <img
                                src="../importation.png"
                                height="350px"
                                width="450px"
                            />
                            <p><em>Figure 2 : Origine des volumes de bois employés en France, source : https://vem-fb.fr</em></p>

                            </center>
                            <br/>
                            <br/>
                            <p>Loin de se limiter à l’approvisionnement en bois d’œuvre, le manque de compétitivité du secteur semble également trouver sa source dans le déficit de produits intermédiaires innovants et dans le besoin de normalisation et de diffusion des techniques de construction. </p>

                            <br/>
                            <br/>

                            <h4 class="text-black-50 mb-0">État des lieux des différents secteurs de l'aval.</h4>
                            <hr>
                            <p>Selon les chiffres de la Veille Économique Mutualisée de la filière Forêt-Bois, la valeur ajoutée de la filière se monte à 26 milliards d’euros, soit 1.1% du PIB.  </p>
                            <p>Le graphique de la figure 3 précise la répartition de cette valeur ajoutée et ces emplois par grands marchés : </p>

                            <br/>
                            <center>
                            <img
                                src="../va.png"
                                height="460px"
                                width="600px"
                            />
                            <p><em>Figure 3 : Valeur ajoutée par marché, source : https://vem-fb.fr</em></p>
                            
                            <img
                                src="../VA2.png"
                                height="350px"
                                width="500px"
                            />
                            <p><em>Figure 4 : Valeur ajoutée des activités par marché, source : https://vem-fb.fr</em></p>
                          
                            </center>
                            <br/>

                                <ul>
                                    <li><b>Le secteur de la construction :</b></li>
                                    <p>Activités : Couverture et structure de l’habitat, ouvertures et agencements, revêtement de sol et mur, revêtement extérieur et aménagements extérieurs.</p>
                                    <p>Chiffres clés : 27 500 emplois pour un chiffre d’affaires de 1,9 Md€. La mise en œuvre représente 80% de la valeur ajoutée dirigée vers la construction (figure 4).</p>
                                    
                                    <li><b>Le secteur de l’ameublement :</b></li>
                                    <p>Taille du marché français : 15 Md€</p>
                                    <p>Tendance : les consommateurs privilégient des meubles d’entrée de gamme pour lesquels les pays d’Europe de l’Est et d’Asie présentent une meilleure compétitivité coût. Le secteur français n’est pas parvenu à valoriser suffisamment ses atouts en matière de compétitivité hors coût (design, qualité et sécurité sanitaire).</p>
                                    
                                    <li><b>Le secteur de la production de papier/carton :</b></li>
                                    <p>Activités : papiers à usage graphique, papiers d’emballage et de conditionnement, papiers à usage domestique et sanitaire, papiers à usage industriel et papiers spéciaux.</p>
                                    <p>Chiffres clés : 59 500 emplois, pour 4,4 Md€ de valeur ajoutée.Seulement 9 usines de taille importante qui consomment 7,6 millions de tonnes de bois en 2018 ; le bois représente 30 à 50 % du coût de revient de la pâte de cellulose</p>
                                                                    
                                    <li><b>Le secteur de l'emballage :</b></li>
                                    <p>Activités : palettes en bois, emballage, léger, tonnellerie et emballage industriel</p>
                                    <p>Chiffres clés : chiffre d’affaires d’1,1 Md€ réparti entre 625 entreprises accueillant 18 000 emplois. </p>
                                
                                    <li><b>Le secteur du bois énérgie :</b></li>
                                    <p>Chiffres clés : 40 000 emplois, répartis sur tout territoire, 12-13 Mt bois consommé et 6 700 installations, pour un potentiel d’accroissement de 9 Md€ d’investissements et 16 000 emplois en 10 ans avancé par les représentants de ce secteur. </p>
                                                                    
                                    <li><b>Le secteur de la chimie du bois :</b></li>
                                    <p>Activités : gazéification du bois, chimie des matières extractibles, fabriques ligno-cellulosiques ou bioraffineries, innovations à partir de cellulose, matériaux composites constitués de fibres de bois.</p>

                                </ul>
                            <br/>

                            <h4 class="text-black-50 mb-0">Le déficit commercial de la filière en quelques mots : </h4>
                            <hr>
                            <p>L’insuffisante articulation entre l’amont et l’aval de la filière et les problèmes de compétitivité de ses entreprises se traduisent par un déficit commercial structurel de 7 Md€. En voici les raisons : </p>
                            <ul>
                                <li>Une proportion significative du bois français part à l’étranger <b>sans avoir été transformée</b>, contrairement à l’Allemagne, la Suisse ou les Pays de l’Est, où une intégration plus forte existe entre l’amont forestier, le sciage et les autres activités de la construction bois</li>
                                <li>Dans le secteur de la construction il existe un <b>décalage</b> entre l’offre de produits bruts sortis des scieries françaises et les nouveaux besoins de ceux qui l’utilisent (panneaux, ossature…), tant en termes de qualité que de prix : la concurrence étrangère est croissante en termes de compétitivité prix, entraînant une hausse des importations d’éléments de menuiserie (fenêtres, portes) et de parquets.</li>
                                <li>Il existe des tensions dans l'<b>approvisionnement</b> en grumes. </b>
                                <li>L’insuffisante utilisation de la <b>certification et de la normalisation</b> des produits bois contribue à expliquer ce manque de compétitivité de la filière française. Seuls 63 237 ha étaient certifiés FSC44 en 2019, soit 0,4 % de la surface de la forêt en métropole. Or, FSC est la norme utilisée dans le monde anglo-saxon et nordique (par exemple, par le groupe Ikea). La normalisation des produits bois concerne surtout les résineux et peu les feuillus, pourtant majoritaires en France. 
                            </ul>
                            <br/>
                            <center>
                            <img
                                src="../commerce.png"
                                height="300px"
                                width="600px"
                            />
                            <p><em>Figure 5 : Résultat du commerce extérieur de la filière forêt-bois par type de produit. Source : Cour des comptes</em></p>
                            </center>
                            <br/>
                            <p>La spécialisation de la filière, qui exporte beaucoup de matières premières et importe de plus en plus de produits transformés, n’est pas favorable : </p>
                            
                            <ul>
                                <li>La filière est excédentaire en bois d’œuvre et de trituration (+13 M€ pour les résineux et +180 M€ pour les feuillus) ; cet excédent commercial des bois de feuillus continue de s'accroître (+13 % en 2018), confirmant à la fois la demande.</li>
                                <li>La France est de plus en plus déficitaire en produits de sciages (-11 % en 2018), du fait des sciages résineux (-519 M€) ; le petit excédent en sciages de feuillus (+25 M€) se réduit fortement (-38 % en 2018), en raison d’importations croissantes.</b>
                            </ul>

                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h5 class="text-black-50 mb-0">Sources :</h5>
                                <ul>
                                    <li>https://www.ccomptes.fr/system/files/2020-05/20200525-rapport-58-2-structuration-filiere-foret-bois.pdf
                                    <li>https://fbie.org/wp-content/uploads/2014/06/Plaquette_For%c3%aat-Bois-UNE-FILI%c3%88RE-DAVENIR-POUR-LA-FRANCE.pdf
                                    <li>https://www.entreprises.gouv.fr/files/files/directions_services/etudes-et-statistiques/evenements/bois-presentation.pdf
                                    <li>https://agriculture.gouv.fr/remise-au-gouvernement-du-rapport-de-mission-parlementaire-sur-lavenir-de-la-foret-et-de-la-filiere
                                    <li>https://vem-fb.fr/images/2019/graphiquesVEM/graphVEM2017/Guide_methodologique_TER_V5.pdf</li>

                
                                </ul>
                        </div>
                    </div>
                </div>